body {
  font-family: 'poppins';
  background: #fff;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'poppins';
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/*------ Carousel Display ------*/
.carousel {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  border-bottom-right-radius: 15px;
}

.Slider {
  width: 100px;
  height: 100vh;
  position: absolute;
  top: 0;
  filter: blur(20px);
}

#slideImg {
  width: 100%;
  height: 100vh;
  transition: all 2s ease;
  animation: zoom 3s linear infinite;
  object-fit: cover;
}

@keyframes zoom{
  0%{
    transform: scale(1.3);
  }
  15%{
    transform: scale(1);
  }
  85%{
    transform: scale(1);
  }
  100%{
    transform: scale(1.3);
  }
}


.overlay {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  position: absolute;
  top: 0;
}

.navbar .content {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 2.5em;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  min-height: 100vh;
}

.Logo {
  width: 120px;
  margin-left: 35px;
  margin-bottom: 2px;
  position: absolute;
  margin-top: -12px;
  align-items: center;
}

.Logo img {
  width: 120px;
  cursor: pointer;
  width: 120px;
  margin-top: -10px;
  cursor: pointer;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 82%;
  height: 5%;
  padding: 2em 0;
  background-color: transparent;
  position: relative;
  top: 0;
  left: 120px;
  z-index: 1000;
  transition: background-color 0s ease-in-out;
}

.navbar .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3em;
  top: 0;
  margin-top: 0;
}

/* Scrolled navbar styles */
.navbar.scrolled {
  background: rgba(255, 255, 255, 0.192);
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(8px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  position: fixed;
  align-items: center;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  z-index: 1000;
  padding: 1em 0;
}

.navbar.scrolled a{
  color: #ff8400;
  font-weight: 400;
}

.menu-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5em;
  display: none;
}

.btn-list-item {
  display: none;
}

a {
  text-decoration: none;
  color: white;
}

a:not(.btn-primary):hover {
  color: #ff7200;
}

a:not(.btn-secondary):hover {
  color: #ff7200;
}


p {
  margin: 1em 0;
}

ul {
  list-style: none;
}

i {
  margin-right: -300px;
}


.pop-up {
  font-size: 14px;
  margin: 100px auto 0;
  text-align: center;
  color: #ff7200;
  font-family: 'poppins';
}

.pop-up h1 {
  font-size: 24px;
  text-align: center;
  animation: slideUp 1s ease-out;
}

.pop-up h3 {
  font-size: 14px;
  color: white;
  text-align: center;
  animation: slideRight 2s ease-in;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
    display: none;
    animation-delay: 2s;
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}


/* Home 8 */

.start {
  width: 150px;
  text-align: center;
  background: #ff7200;
  color: #fff;
  cursor: pointer;
  border-radius: 25px;
  border: white 1px solid;
  margin: 30px 44%;
  padding: 10px 0;
  font-weight: bold;
  transition: background 0.5s;
}

.start:hover {
  background: transparent;
  border: 2px solid #fdfcfc;
  color: #ff7200;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 2.5em;
}

.container .imgstart{
  margin-top: -6%;
}

.imgstart img{
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: 1px solid #cccccc;
  overflow: hidden;
  background: #ffffff;
}


header {
  margin-bottom: 4em;
}

header .container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row-reverse;
  min-height: 100vh;
  gap: 120px;
}

.head-tag{
  font-size: 19px;
  font-weight: bold;
  color: #ff7200;
  display: flex;
  text-align: center;
  margin-bottom: -15px;
}

.header-bodys {
  align-items: center;
  min-height: 80vh;
  display: flex;
  flex-direction: row;
  text-align: justify;
  gap: 200px;
  justify-content: space-between;
}
 
.header-bodys p {
  color: #000;
  font-weight: 500;
  line-height: 27px;
  max-width: 800px;
  font-size: 13px;
  margin-top:  20px;
}


.stats {
  display: flex;
  align-items: center;
  color: #000;
  font-family: 'poppins';
}

.stats>div {
  margin: 2em 2em 0 0;
}

.stats h1 {
  font-size: 2em;
  color: #000;
}

.stats p {
  margin-top: -2px;
  font-size: 0.9em;
  color: #ff7200;
  font-weight: 500;
  font-family: 'poppins';
}

.line {
  background: #000;
  margin-bottom: 10px;
  width: 2px;
  height: 50px; 
}

/*------ About ------*/
.header1 {
  max-width: 1250px;
  min-height: 80vh;
  margin-top: 70px;
  padding: 0 2.5em;
  flex-direction: row-reverse;
  display: flex;
  align-items: center;
}

.imgwrap img {
  width: 68%;
  border-radius: 5px;
  margin-top: 1%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 7%;

}
 
.sub-heading {
  font-size: 24px;
  line-height: 70px;
  font-family: 'poppins';
  color: #ff7200;
}

.header2 p {
  font-size: 13px;
  font-weight: 500;
  color: #000;
  text-align: justify;
  line-height: 21px;
  max-width: 450px;
  margin-right: -2em;
  margin-top: -5px;
}



@media screen and (max-width: 1000px) {
  .overlay{
    height: 110%;
  }

  .carousel{
    height: 100vh;
  }

  .navbar {
    width: 100%;
  }
  
  .navbar.scrolled{
    width: 100%;
    height: 9%;
    background-color: rgba(255, 255, 255, 0.1);
  }

  .menu-btn {
    display: block;
    color: #ff7200;
    font-size: 30px; 
    cursor: pointer;
  }

  .content .menu-btn{
    display: flex;
    justify-content: space-between;
    margin: 0;
  }

  .navbar.scrolled .menu-btn{
    display: flex;
    justify-content: center;
    margin: 0;
  }

  .navbar.scrolled .menu-btn:hover{
    cursor: pointer;
  }

  .navbar .menu {
    box-shadow: 0em 1em 8em rgba(26, 26, 26, 0.1);
    position: absolute;
    top: 6em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
    overflow: hidden;
    z-index: 9;
  }

  .navbar .menu{
    background: rgba(0, 0, 0, 0.6);
    width: 50%;
  }

  

  .btn-list-item {
    display: block;
  }

  /*Javascript Toggle*/
  .navbar .menu-open {
    opacity: 1;
    height: 20em;
    overflow: visible;

  }

  .navbar .menu {
    padding: 3em 0;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: scroll;
  }
  
  .sub-heading {
    font-size: 29px;
    margin: 0.4em 0;
    margin-bottom: -3%;
    text-align: center;
  }

  .header1 {
    flex-direction: column;
    align-items: center;
  }

  .header2, .imgwrap {
    max-width: 100%;
  }

  .header2 {
    order: 1;
  }

  .imgwrap {
    order: 2;
    margin-top: 20px;
    width: 100%;
    height: auto;
    padding: 0 10px;
  }

  .header2 p {
    font-size: 18px;
    font-family: 'poppins';
    line-height: 1.4em;
    margin: 0.5em 0;
    text-align: justify;
  }

  .imgwrap img {
    border-radius: 7px;
    width: 100%;
    height: auto;
    margin-top: 4%;
    flex-direction: column;
  }

  .head-tag{
    margin-top: 18%;
  }

  .Logo {
    position: absolute;
    height: 15px;
    width: 15px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
  }

  .start{
    align-items: center;
    margin: 0 auto;
    display: block;
    margin-top: 30px;
    font-family: 'poppins';
  }

  .pop-up h1, h3{
    text-align: center;
    
  }

  .pop-up h1{
    font-size: 19px;
    font-family: 'poppins';
    margin-top: 35%;
    line-height: 30px;
  }

  .pop-up h3{
    line-height: 20px;
    font-family: 'poppins';
    letter-spacing: 1px;
  }

  .imgstart img{
    display: flex;
    width: 100%;
    margin-top: -50%;

  }

  .header-bodys {
    flex-direction: column;
    align-items: center;
  }

  .head-tag, .header-bodys p, .stats {
    text-align: center;
    padding: 0;
    margin: 0;
  }

  .header-bodys p {
    max-width: 98%;
    font-size: 18px;
    text-align: justify;
    margin: 0;
    padding: 0;
  }

  .head-tag{
    margin-left: 20px;
    margin-top: 30px;
  }

  .Tag {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    justify-content: space-between;
  }

  .stats {
    display: flex;
    align-items: center;
    flex-direction: row;
    text-align: center;
    gap: 20px;
    justify-content: space-between;
  }

  .stats > div {
    margin: 40px 0 20px 0;
  }

  .stats p {
    font-size: 16px;
    margin: 0;
    font-weight: 500;
    display: flex;
    justify-content: center;
    font-family: 'poppins';
    white-space: nowrap;
  }

  .stats h2{
    font-family: 'poppins';
    font-size: 26px;
  }
  
}


/*----Services----*/
.cards {
  margin-bottom: 2em;
}


.cards h1 {
  font-size: 24px;
  margin-top: 10%;
  margin-bottom: -1%;
  line-height: 60px;
  text-align: center;
  color: #ff7200;
  font-family: 'poppins';
}

.cards .container {
  padding: 2em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  grid-gap: 2em;
  margin-top: 8%;
}

.cards img {
  width: 100%;
  border-radius: 2.5em;
  margin-top: -4em;
  transition: 0.3s;
}

.cards .intro p {
  color: #000;
  font-family: 'poppins';
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  margin: 1em;
  margin-bottom: -4%;
}

.card {
  background: rgb(224, 217, 217);
  padding: 2em;
  border-radius: 15px;
  cursor: pointer;
  border: 2px solid #ff7200;
}


.card-text p {
  margin: 1em 0;
  font-size: 13px;
  line-height: 22px;
  font-family: 'poppins';
  font-weight: 500;
  text-align: justify;
}

.card:hover img {
  transform: translateY(-2em);
  border: 2px solid #ff7200;
}

.card img{
  border: 2px solid #fff;
}

.card a i {
  margin: 0 0.5em;
}

.cta{
  width: 100px;
  margin: 10px 0 0;
  color: #fff;
  text-align: center;
  background: #ff7200;
  border-radius: 10%;
  padding: 5px 0;
  font-weight: 500;
  transition: background 0.5s;
  align-self: flex-start;
}

.cta:hover{
  color: #ff7200;
  background: transparent;
  border: 2px solid #fdfcfc;
  cursor: pointer;
}

.card h3 {
  color: #ff7200;
  font-size: 18px;
  font-family: 'poppins';
  
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}


@media screen and (max-width: 1000px) {
  

  .stats h2 {
    font-family: cursive;
  }

  
  .cards .container {
    grid-template-columns: 1fr;
  }

  .card {
    margin: 1em 0 8em;
    padding: 2em;
  }

  .cards .intro p{
    text-align: center;
  }

  .cards .sub-header {
    margin-top: 20%;
    font-size: 27px;
  }

  .card-text p {
    font-size: 1.3em;
    font-family: 'poppins';
  }

  .card-text h3 {
    font-size: 1.7em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  .card a {
    margin: 0 0;
    font-size: 17px;
    font-family: cursive;
    color: #383f47;
  }

  .banner {
    width: 80%;
    height: 80%;
    display: block;
    margin-top: 2%;
    border-radius: 7px;
  }

  .header-text p {
    font-size: 1.5em;
    margin-right: 1em;
    font-family: 'poppins';
  }
}

/*------- Reviews ------*/

.testimonials {
  width: 80%;
  margin: auto;
  padding-top: 100px;
  text-align: center;
}

.testimonials p {
  color: #000;
  font-weight: 500;
  font-size: 14px;
}

.testimonials h1 {
  color: #ff7200;
  font-family: 'poppins';
}

.testimonial-col {
  flex-basis: 49%;
  border-radius: 10px;
  margin-bottom: 10%;
  margin: 0 15px;
  text-align: left;
  background: #fdfcfc;
  border: 1px solid #ff7200;
  padding-left: 10px;
  padding-top: 13px;
  padding-bottom: 10px;
  cursor: pointer;
  display: flex;
}


.testimonial-col img {
  height: 40px;
  margin-left: 5px;
  margin-right: 38px;
  border-radius: 50%;

}

.row {
  display: flex;
  align-items: center;
  min-height: 40vh;
}

.testimonial-col p {
  padding: 0px;
  color: #000;
  margin: 0 10px;
  display: flex;
  line-height: 12px;
  font-size: 11px;
  font-weight: 500;
  font-family: 'poppins';
  text-align: justify;
}

.testimonial-col .span h3 {
  margin: 1px 10px;
  font-family: 'poppins';
  font-size: 15px;
  
}

.testimonial-col .fa {
  color: rgb(255, 217, 3);
  margin: 2px -10px 0 10px;
  padding: 0;
}

@media screen and (max-width: 1000px) {
  .testimonials p{
    text-align: center;
    font-family: 'poppins';

  }

  .testimonials{
    margin-top: -29%;
  }

  .testimonial-col img {
    margin-left: 5px;
    margin-right: 180px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .row {
    width: 100%;
    min-height: 80vh;
    display: block;
    flex-direction: flex;
    margin-top: 2%;
    border-radius: 7px;
  }

  .testimonial-col {
    margin: 1em 0 4em;
    padding: 2em;
    margin-bottom: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .span p{
    text-align: left;
    width: 100%;
    font-size: 15px;
    font-family: 'poppins';
    line-height: 17px;
    margin-top: 10px;
  }

  .span{
    text-align: center;
    width: 100%;
    margin-top: -49px;
  }

  .testimonial-col .span h3{
    margin-top: 3px;
    margin-left: 24%;
  }

  
  
}



/*------- Location--------*/
.location {
  width: 80%;
  margin: auto;
  padding: 55px 0;
  margin-top: -2%;
}

.location iframe {
  width: 90%;
  border-radius: 10px;
  margin-left: 11.5px;
}


/*------- contact us page--------*/
.contact {
  position: relative;
  min-height: 100vh;
  margin: 10% 0 0;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(rgba(4, 9, 30, 0.4), rgba(4, 9, 30, 0.6)), url(images/tape1\ \(9\).jpg);
  background-size: cover;
}


.contact .content {
  max-width: 800px;
  text-align: center;
}

.contact .content h2 {
  font-size: 36px;
  font-weight: 500;
  color: #ff7200;
}

.contact .content p {
  margin-top: 1%;
  color: #fff;
  font-weight: 300;
  font-size: 20px;
}

.container1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.head {
  padding: 20px 0;
  margin: 0 13.6%;
  color:  #fff;
}

.container1 .contactinfo {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.container1 .contactinfo .box {
  padding: 20px 0;
  display: flex;
  position: relative;
}

.container1 .contactinfo .box .icon i {
  width: 60px;
  height: 60px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
}


.container1 .contactinfo .box .text {
  display: flex;
  margin-left: 80px;
  margin-top: 3px;
  font-size: 16px;
  color: #fff;
  flex-direction: column;
  font-weight: 400;
  font-family: 'poppins';
}

.container1 .contactinfo .box .text h3 {
  font-weight: 500;
  color: #ff7200;
}

.contactForm {
  width: 40%;
  padding: 40px;
  background: #fff;
  border-radius: 15px;
}

.contactForm h2 {
  font-size: 30px;
  color: #333;
  font-weight: 500;
}

.contactForm .inputBox {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
  color: #383f47;
}

.contactForm .inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}

.contactForm .inputBox input:focus~span,
.contactForm .inputBox input:valid~span,
.contactForm .inputBox textarea:focus~span,
.contactForm .inputBox textarea:valid~span {
  color: #ff7200;
  font-size: 12px;
  transform: translateY(-20px);
}

.contactForm .inputbox1 [type="submit"] {
  width: 100px;
  background: #ff7200;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  font-weight: 400;
  border-radius: 10px;
}

.contactForm .inputbox1 [type="submit"]:hover {
  color: #3f1e05;
  border: 2px solid #ff7200;
}

@media screen and (max-width: 786px) {
  .contact {
    width: 100%;
    padding: 30px;
    margin-top: 170px;
    border-radius: 15px;
  }

  .content p{
    text-align: center;
  }

  .container1 {
    flex-direction: column;
  }

  .container1 .contactinfo {
    margin-bottom: 40px;
  }

  .container1 .contactinfo,
  .contactForm {
    width: 100%;
  }

  .inputBox:hover{
    cursor: pointer;
  }

  .contactinfo h3{
    text-align: left;
  }

}

/* faq */
.FAQ {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: linear-gradient(rgba(88, 34, 77, 0.3), rgba(2, 0, 3, 0.3));
  padding: 40px;
  margin-bottom: 2%;
}

.accordion {
  display: flex;
  max-width: 1010px;
  width: 100%;
  align-items: center;
  background: #fff;
  border-radius: 25px;
  justify-content: space-between;
  padding: 45px 98px 45px 60px;
}

.accordion .image-box {
  height: 360px;
  width: 300px;
  background: #fff;

}

.accordion .image-box img {
  height: 100%;
  width: 100%;
  object-fit: contain;

}

.accordion .accordion-text {
  width: 60%;

}

.accordion .accordion-text .title {
  font-size: 35px;
  font-weight: 600;
  color: #c05803;
}

.accordion .accordion-text .faq-text {
  margin-top: 25px;
  height: 263px;
  overflow-y: auto;
}

.faq-text.faq-text::-webkit-scrollbar {
  display: none;
}

.accordion .accordion-text li {
  list-style: none;
  cursor: pointer;
}

.accordion-text li .question-arrow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.accordion-text li .question-arrow .question {
  font-size: 18px;
  font-weight: 500;
  color: #595959;
  transition: all 0.3s ease;
}

.accordion-text li .question-arrow .arrow {
  font-size: 20px;
  color: #595959;
  transition: all 0.3s ease;
}

.accordion-text li.showAnswer .question-arrow .arrow {
  transform: rotate(-180deg);
}

.accordion-text li:hover .question-arrow .question,
.accordion-text li:hover .question-arrow .arrow {
  color: #c05803;
  cursor: pointer;
}

.accordion-text li.showAnswer .question-arrow .question,
.accordion-text li.showAnswer .question-arrow .arrow {
  color: wheat;
}

.accordion-text li .line {
  display: block;
  height: 2px;
  width: 70%;
  margin: 10px 0;
  background: rgba(0, 0, 0, 0.1);
}

.accordion-text li p {
  width: 92%;
  font-size: 15px;
  font-weight: 500;
  color: #595959;
  display: none;
}

.accordion-text li.showAnswer p {
  display: block;
  text-align: justify;
  width: 70%;
}

.accordion-text li i{
  margin: 0 auto 0 0;
  
}

@media screen and (max-width: 1000px) {
  .FAQ {
    padding: 40px 20px;
  }

  .accordion {
    max-width: 100%;
    padding: 45px 90px 45px 60px;
  }

  .accordion .image-box {
    height: 360px;
    width: 220px;
  }

  .accordion .accordion-text {
    width: 63%;
  }

  
}

@media screen and (max-width: 1000px) {
  .accordion {
    flex-direction: column;
  }

  .accordion .image-box {
    height: 360px;
    width: 300px;
    background: #c0a5b7;
    width: 100%;
    border-radius: 25px;
    padding: 30px;
  }

  .accordion .accordion-text {
    width: 100%;
    margin-top: 30px;
  }

  .accordion-text li:hover .question-arrow .question,
  .accordion-text li:hover .question-arrow .arrow {
    cursor: pointer;
  }
}

@media screen and (max-width: 1000px) {
  .accordion {
    padding: 25px;
  }

  .accordion-text li p {
    width: 98%;
  }
}



/* footer */
.content-wrap {
  max-width: 1170px;
  margin: auto;
}

.row1 {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

.footer {
  background-color: #24262b;
  padding: 70px 0;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #f1f1f1;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;

}

.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #f1f1f1;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #f1f1f1;
  padding-left: 8px;
}

.footer-col .social-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-col .social-links li {
  display: inline-block;
}

.footer-col .social-links a i {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #f1f1f1;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
}

/* responsive*/
@media screen and (max-width: 1000px) {
  .footer {
    width: 100%;
    margin: auto;
  }

  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 1000px) {
  .footer-col {
    width: 100%;
  }
}